[ req ]
distinguished_name = req_distinguished_name
prompt             = no

[ req_distinguished_name ]
C                  = AT
ST                 = Anywhere
L                  = Somewhere
O                  = Docker Sample Ltd.
OU                 = Sample
CN                 = *
emailAddress       = dockersample@trash-mail.com

