<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">CoderDojo Linz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ cond (eq .Page.File.Path "\\_index.md") "active" "" }}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ cond (eq .Page.File.Path "\\about.md") "active" "" }}" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ cond (eq .Page.File.Path "\\termine.md") "active" "" }}" href="/termine">Termine</a>
                </li>
                <li class="nav-item dropdown {{ cond (hasPrefix .Page.File.Path "uebungsbeispiele") "active" "" }}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Übungsbeispiele
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/uebungsbeispiele">Übersicht</a>
                        <div class="dropdown-divider"></div>
                        {{ with .Site.GetPage "/uebungsbeispiele" }}
                        {{ range sort .Pages "Params.Level" "asc" }}
                        <a class="dropdown-item" href="{{.Permalink}}">{{.Title}}</a>
                        {{ end }}
                        {{ end }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>